
.calci-parent{
    background-color: red;
}

.calci-box{
    /* height: 450px; */
    width: max-content;
}

.screen{
    height: 80px;
}

.inputBtn{
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
